* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./images/backgroung-image.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  width: 51%;
}

.logo {
  width: 30%;
  height: auto;
  object-fit: contain;
}

.image-index {
  width: 100%;
  height: 300px;
}

.game_name {
  text-align: center;
}

.game_price {
  text-align: center;
  color: #000;
}

.pegi {
  height: 50px;
  width: 50px;
}

.bi-star-fill {
  color: #ffc107
}

.btn {
  color: white;
  margin-right: 2px;
}

.btn:hover {
  color: rgb(13, 110, 253);
  background-color: white !important;
  border: solid 1px rgb(13, 110, 253);
}

.card-title {
  margin-top: 10px;
  font-size: 15px;
}

.card-text {
  font-size: 12px;
}

.btn-list {
  background-color: rgb(13, 110, 253);
}

.card {
  margin: 10px;
}

.card-body {
  padding: 0;
}

.note-bleu {
  color: rgb(13, 110, 253);
  font-weight: bold;
}

.titre {
  font-size: 18px;
  font-weight: 400;
}


.index-description {
  margin: 10px;
}

.collapse {
  border-bottom: 1px solid gray;
}
p{
  font-size: 12px;
}
.avis{
  margin-top: 10px;
}
.age{
  margin-bottom: 0;
}
.badge{
  margin-right: 5px;
}